<!DOCTYPE html>
<html>
  <head>
    <title>Rent A Bike</title>
    <link rel="stylesheet" href="/stylesheets/bikerentalstyle.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/bikeRental">Rentals</a>
        <a href="/user">User Profile</a>
      </nav>
    </header>
    <main>
      <h1>Rent A Bike</h1>
      <ul>
        <% data.forEach(function(bike){ %>
          <li>
            <a href="/bikeDetails?bikeId=<%= bike.bikeId %>">
              <h2><%= bike.bikeName %></h2>
              <p><strong>Bike ID:</strong> <%= bike.bikeId %></p>
              <p><strong>Bike Type:</strong> <%= bike.bikeType %></p>
              <p><strong>Daily Rate:</strong> <%= bike.dailyRate %></p>
              <p><strong>Availability:</strong> <%= bike.availability ? 'Available' : 'Not Available' %></p>
          </li>
        <% }); %>
      </ul>
    </main>
  </body>
</html>